<div class="footer">

  <div class="copyrights">
    <p>©</p>
    <h5>2024  MATE - ROBIS</h5>
  </div>

  <!-- <div id="date_time">
    <h5>DATE: {{Date | date:'dd-MM-yyyy'}}, {{ Date | date:'EE' }}</h5> -->
    <!-- <h5>TIME: {{ currentTime | date: 'mediumTime' }}</h5> -->
    <!-- <h5>TIME: {{ currentTime | date: 'HH:mm:ss' }}</h5>
  </div> -->
  <div class="gap" style="display: flex; align-items: center;">
  <h5 style="margin-right: 10px; color:white; position:relative;  bottom: 5px;">Proud to be part of samvardhana  <span><img src="../../assets/motherson logo white.png" alt="" width="40px" height="10px"></span></h5>
  </div>
  <div id="timer"> <fa-icon [icon]="timer"></fa-icon> LOGOUT <app-timer/></div>

</div>


