<!-- 


<div class="tabletitle">

    <h3 >Locations</h3>

    <div class="header">

    <p-button icon="pi pi-check"   label="Add" class="space" role="button" styleClass="p-button-raised " (click)="showDialog()" severity="info" size="small" class="primebtn" />
      
    <p-button  icon="pi pi-trash" class="space" label="Delete" role="button" styleClass="p-button-raised "  [disabled]="!selected.length" (click)="deleteRow($event)" severity="danger" size="small" class="primebtn" />  

    </div>
</div>

<div class="tablediv">
<p-table [value]="locationtype"  styleClass="p-datatable-sm"  [(selection)]="selected">
    <ng-template pTemplate="header">
        <tr>
            <th><p-tableHeaderCheckbox  ></p-tableHeaderCheckbox></th>
            <th>S.No</th>
            <th>Location Name</th>
            <th>Created On</th>
            <th>Created By</th>
            <th>EDIT </th>
 
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i let-rowIndex="rowIndex +1">
        <tr>
            <td>
                <p-tableCheckbox [value]="i" ></p-tableCheckbox>
            </td>
            <td>{{rowIndex}}</td>
            <td>{{i.lc_name}}</td>
            <td>{{i.lc_createdon | date }}</td>
            <td>{{i.lc_createdby}}</td>
            <td>
                <svg id="changeColor " fill="#DC7633" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" (click)="edit(i)" width="30" zoomAndPan="magnify" viewBox="0 0 375 374.9999" height="25" preserveAspectRatio="xMidYMid meet" version="1.0"><defs></defs><g></g><g id="inner-icon" transform="translate(80,70) "> <svg xmlns="http://www.w3.org/2000/svg" width="261" height="261" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3" id="IconChangeColor"><path d="M12 20h9" id="mainIconPathAttribute" stroke-width="1.2" stroke="#478ecd"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" id="mainIconPathAttribute" stroke="#478ecd"></path></svg> </g></svg>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td class="emptymessage" colspan="6">No Data found...</td>
        </tr>
    </ng-template>
</p-table>

</div>

<p-dialog  [(visible)]="display" [draggable]="false" [closable]="true" [modal]="true">
    <form [formGroup]="form" novalidate>
        <div class="formgroup-inline">
            <div class="field mt-2">
                <label for="name" class="block mb-2">Location Name</label>
                <input type="text" pInputText class="flex-auto" id="name"  formControlName="lc_name" placeholder="Enter" [style]="{'width':'180px'}"  pInputText-sm />
                <div *ngIf="form.get('lc_name')?.invalid && (form.get('lc_name')?.dirty || form.get('lc_name')?.touched)" class="error">
                    <div *ngIf="form.get('lc_name')?.errors!required">
                      *Location field required
                    </div>
                </div>
            </div>
        </div>

        <button pButton pRipple label={{ModalType}} icon="pi pi-check"  (click)="OnSubmit()" class="p-button-text" [disabled]="this.form.invalid" id="savebutton"></button>
</form>
</p-dialog>

 -->
