.location{
  margin-top: -2rem;
}

*{
  font-family: 'Lexend';
  letter-spacing: 0.7px;
}

@import "primeicons/primeicons.css";

.tabletitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header{
 display:flex;
  gap:0.7rem !important;
  margin-right:1rem;

}

th{
  font-size:small;
  color: #000000 !important;
  background: #FFcdcd !important;
  text-align: left !important;
  text-transform: uppercase;
  // font-weight: 500;
}
td{
  font-size:small;
  text-align: left !important;
  text-transform: uppercase;
}

::ng-deep .p-datatable .p-paginator-bottom {
  display: flex;
  // justify-content: flex-end !important;
  padding: 0.5rem; 
    font-family: 'Lexend'
}

::ng-deep .p-paginator .p-paginator-current{
  color: #0b8dbd !important;
    font-family: 'Lexend'
}

::ng-deep .p-paginator-page{
  color: #0b8dbd !important;
    font-family: 'Lexend'
}

::ng-deep .p-paginator .p-paginator-first, 
::ng-deep .p-paginator .p-paginator-prev,
::ng-deep .p-paginator .p-paginator-next,
::ng-deep .p-paginator .p-paginator-last{
  color: #0b8dbd;
    font-family: 'Lexend'
}

.savebutton{
  float:right;
  height:35px;
  width: auto;
  font-weight: 600;
  color:rgb(83, 83, 199);
  background-color: #fafafa;
  cursor: pointer;
  border: 1px solid #ffffff00;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(159, 188, 250, 0.7);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}
.savebutton:after {
content: '»';
color: rgb(83, 83, 199);
border-color: rgb(83, 83, 199);
position: absolute;
opacity: 0;
right: -5px;
margin-top: -4.2px !important;
margin-right: 1.2rem;
transition: 0.5s;
font-size: 19px !important
}

.savebutton:hover{
padding-right: 18px;
padding-left: 6px;
border-color: rgb(83, 83, 199);
}

.savebutton:hover:after {
opacity: 1;
right: 6px;
font-size: 30px;
border: #0c5ba9;
outline: #0c5ba9;
}

// th{
//   font-size:small;
//   color: #000000 !important;
//   background: #FFcdcd !important;
//   text-align: left!important;
//   text-transform: uppercase;
//   // font-weight: 500;
// }
// ::ng-deep {
//   .p-datatable th {
//       font-size:small;
//       color: #000000 !important;
//       text-align: center !important;
//       text-transform: uppercase;
//       background: #FFCDCD !important;

//   }
// }
::ng-deep {
.p-datatable-wrapper{
  border-radius: 6px;
}
}

.primebtn{
  cursor: pointer;
  font-size: 13px;
}

::ng-deep .p-button-label {
  font-weight: 600 !important;
}

.tablediv{
  margin-top: -0.5rem;
}


.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 2px;
  position: relative;
  text-align: left;
  left: 1px;
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s;
  animation-name: shake;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-3px); }
  40% { transform: translateX(3px); }
  60% { transform: translateX(-3px); }
  80% { transform: translateX(3px); }
  100% { transform: translateX(0); }
}

input.ng-invalid.ng-touched {
  outline: 1;
	border-color: red;
  transition: border-color 0.3s;
}

.field > label {
  display: block;
  width: 100%;
  font-weight: 600;
}

.emptymessage{
  text-align: center !important;
  font-weight:700
}

:host {
  ::ng-deep {
      * {
          &::-webkit-scrollbar {
              width: 10px;
              height: 8px;
          }
          &::-webkit-scrollbar-thumb {
              background-color: #FFCDCD;
              border-radius: 20px;
          }
      }
    }
  }

  :host ::ng-deep .p-dialog .p-dialog-header {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    gap: 1rem;
  }

  .edtBtn{
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    height: 2px;
    padding: calc(1rem - 1px) calc(1rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 2px;
  }
  
  .edtBtn:hover,
  .edtBtn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  
  .edtBtn:active {
    background-color: #F0F0F1;
    border-color: rgba(43, 52, 230, 0.388);
    box-shadow: rgba(3, 39, 243, 0.386) 0 2px 4px;
    color: rgba(185, 4, 4, 0.65);
    transform: translateY(0);
  }
  
  .edtBtn fa-icon{
    color: red;
   
    width: -5px;
    margin-top: 0.1rem;
  }