.heading {
    display: flex;
    font-size:18px;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    color: black

}

#chartmode{
    display:flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }